[submodule "Shoot"]
	path = Shoot
	url = git@github.com:goodtohear/Shoot
[submodule "telestrator/TelestratorApp"]
	path = telestrator/TelestratorApp
	url = git@github.com:goodtohear/TelestratorApp
[submodule "beatsheet/BeatSheet"]
	path = beatsheet/BeatSheet
	url = git@github.com:goodtohear/BeatSheet
[submodule "telestrator/Squares-TV-Apps-Shared"]
	path = telestrator/Squares-TV-Apps-Shared
	url = git@github.com:goodtohear/Squares-TV-Apps-Shared.git
