[submodule "BeatSheet"]
	path = BeatSheet
	url = git@github.com:goodtohear/BeatSheet
[submodule "TelestratorApp"]
	path = TelestratorApp
	url = git@github.com:goodtohear/TelestratorApp
[submodule "Shoot"]
	path = Shoot
	url = git@github.com:goodtohear/Shoot
