[submodule "Shoot"]
	path = Shoot
	url = git@github.com:goodtohear/Shoot
[submodule "telestrator/TelestratorApp"]
	path = telestrator/TelestratorApp
	url = git@github.com:goodtohear/TelestratorApp
[submodule "beatsheet/BeatSheet"]
	path = beatsheet/BeatSheet
	url = git@github.com:goodtohear/BeatSheet
